<div class="row">
    <div>
        <h1> Companies </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
      <button [matBadge]="uiCompanyList?.length" matBadgePosition="after" matBadgeColor="accent" class="noOutlinebutton" mat-raised-button
        color="primary" [routerLink]="['/AddCompany']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="col-md-1">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search Company" #name (input) = "OnSearchKey(name.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  
  <div class="row">
    <ng-container>
      <div class="card" style="width: 18rem; margin: 21px;" *ngFor = "let item of uiCompanyList">
          <div class="card-body" [matBadge]="item.stocks.stocks.length" [routerLink]="['/Company', item.companyCode]">
            <h2> {{ item.companyName }} - ( {{ item.companyCode }} )</h2>
            <h4> {{ item.companyCEO }}</h4>
            <h4> {{ item.companyWebsite }}</h4>
            <h4> {{ item.companyTurnover }}</h4>
            <h4> {{ item.stockExchange }}</h4>
            <button class="noOutlinebutton" mat-fab color="accent" aria-label="Example icon button with a delete icon" [routerLink]="['/DeleteCompany', item.companyCode]">
              <mat-icon>delete</mat-icon>
            </button>  &nbsp;  &nbsp;  &nbsp;
            <button class="noOutlinebutton" mat-fab color="accent" aria-label="Example icon button with a delete icon" [routerLink]="['/UpdateCompany', item.companyCode]">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
      </div>
    </ng-container>

  </div>
  
    